<div class="bradcam_area breadcam_bg">
  <h3>Customer</h3>
</div>
<!-- bradcam_area_end -->

<!-- about_area_start -->

<!-- List-->
<div class="bg-menu table table  font-weight-bold" style="padding-top: 100px">
  <div class="container-fluid body">
    <div class="center container-fluid">
      <h1 style="text-align: center ">List Customer</h1>
      <table style="border-collapse:  collapse; width: 100%" id="employeeList">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Id Customer</th>
          <th class="text-center">Name</th>
          <th class="text-center">Gender</th>
          <th class="text-center">Identity Card</th>
          <th class="text-center">Phone Number</th>
          <th class="text-center">Address</th>
          <th class="text-center">Customer Type</th>
          <th class="text-center">Update</th>
          <th class="text-center">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>KH-1111</td>
          <td>Võ Tiến Đạt</td>
          <td>Nam</td>
          <td>123456789</td>
          <td>0336761813</td>
          <td>Đà Nẵng</td>
          <td>Diamond</td>

          <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
              Update
            </button>
          </td>
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
              Delete
            </button>

            <!-- Modal -->
            <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="">Delete Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="color: black">
                    You want delete Võ Tiến Đạt ?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-primary">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>KH-2222</td>
          <td>Nguyễn Duy Trung</td>
          <td>Nam</td>

          <td>222323212342</td>
          <td>09921123123</td>
          <td>Đà Nẵng</td>
          <td>Platinum</td>

          <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
              Update
            </button>
          </td>
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
              Delete
            </button>

            <!-- Modal -->
            <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Delete Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="color: black">
                    You want delete Nguyễn Duy Trung ?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-primary">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td>3</td>
          <td>KH-1333</td>
          <td>Huỳnh Kim Hiếu</td>
          <td>Nữ</td>

          <td>222232321</td>
          <td>777777745</td>
          <td>Đà Nẵng</td>
          <td>Gold</td>

          <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
              Update
            </button>
          </td>
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
              Delete
            </button>

            <!-- Modal -->
            <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Delete Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="color: black">
                    You want delete Huỳnh Kim Hiếu ?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-primary">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td>KH-4444</td>
          <td>Nguyễn Hữu Toàn</td>
          <td>Nam</td>

          <td>577756656</td>
          <td>683453534</td>
          <td>Đà Nẵng</td>
          <td>Silver</td>
          <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
              Update
            </button>
          </td>
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
              Delete
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="color: black">
                    You want delete Nguyễn Hữu Toàn ?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-primary">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button class="btn btn-light">Previous</button>
      <button class="btn btn-light">1</button>
      <button class="btn btn-light">2</button>
      <button class="btn btn-light">...</button>
      <button class="btn btn-light">Next</button>
    </div>
  </div>
</div>
<app-modal-edit></app-modal-edit>
<app-modal-create></app-modal-create>
