<div class="bradcam_area breadcam_bg">
  <h3>Customer</h3>
</div>
<div class="bg-menu table text-center table  font-weight-bold" style="padding-top: 100px">
  <div class="container-fluid body">
    <div class="center container-fluid">
      <h1 style="text-align: center ">List Customer</h1>
      <div>
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                data-bs-target="#form-create">
          Create
        </button>
      </div>
      <table style="border-collapse:  collapse; width: 100%" id="employeeList">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Name</th>
          <th class="text-center">Gender</th>
          <th class="text-center">Id Card</th>
          <th class="text-center">Day Of Birth</th>
          <th class="text-center">Phone</th>
          <th class="text-center">Email</th>
          <th class="text-center">Address</th>
          <th class="text-center">Customer Type</th>
          <th class="text-center">Update</th>
          <th class="text-center">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customers ; index as i ">
          <td>{{i + 1}}</td>
          <td>{{customer.customerCode}}</td>
          <td>{{customer.customerName}}</td>
          <td>
            <span>{{customer.customerGender == 1}}Male</span>
            <span>{{customer.customerGender == 2}}Female</span>
            <span>{{customer.customerGender == 3}}Other</span>
          </td>
          <td>{{customer.customerIdCard}}</td>
          <td>{{customer.customerBirthday| date: 'dd/MM/yyyy'}}</td>
          <td>{{customer.customerPhone}}</td>
          <td>{{customer.customerEmail}}</td>
          <td>{{customer.customerAddress}}</td>
          <td>{{customer.customerType.customerTypeName}}</td>
          <td>
            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                    [routerLink]="['/customer/edit', customer.customerId]">Edit
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete"
                    (click)="openDelete(customer.customerId,customer.customerName)">
              Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button class="btn btn-light">Previous</button>
      <button class="btn btn-light">1</button>
      <button class="btn btn-light">2</button>
      <button class="btn btn-light">...</button>
      <button class="btn btn-light">Next</button>
    </div>
  </div>
  <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body" style="color: red">
          Do you want delete customer :{{name}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete(id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
