<div class="bradcam_area breadcam_bg">
  <h3>Customer</h3>
</div>
<div class="bg-menu table text-center table  font-weight-bold" style="padding-top: 100px">
  <div class="container-fluid body">
    <div class="center container-fluid">
      <h1 style="text-align: center ">List Customer</h1>
      <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCustomer ">
          <a [routerLink]="['/list-customer/create']"  class="text-white"> Create</a>
        </button>
      </div>
      <table style="border-collapse:  collapse; width: 100%" id="employeeList">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Name</th>
          <th class="text-center">Day Of Birth</th>
          <th class="text-center">Gender</th>
          <th class="text-center">Id Card</th>
          <th class="text-center">Phone</th>
          <th class="text-center">Email</th>
          <th class="text-center">Address</th>
          <th class="text-center">Customer Type</th>
          <th class="text-center">Update</th>
          <th class="text-center">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let temp of customerList ">
          <td>{{temp.id}}</td>
          <td>{{temp.name}}</td>
          <td>{{temp.birthday| date: 'dd/MM/yyyy'}}</td>
          <td *ngIf="temp.gender==true">Nam</td>
          <td *ngIf="temp.gender==false">Nữ</td>
          <td>{{temp.idCard}}</td>
          <td>{{temp.phone}}</td>
          <td>{{temp.email}}</td>
          <td>{{temp.address}}</td>
          <td>{{temp.customerType.name}}</td>
          <td>
            <button type="button" class="btn btn-primary">
              <a [routerLink]="['../update-list-customer', temp.id]" style="color: white">Edit</a>
            </button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="valueDelete(temp.id, temp.name)"
                    style="margin-left: 5px">
              Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button class="btn btn-light">Previous</button>
      <button class="btn btn-light">1</button>
      <button class="btn btn-light">2</button>
      <button class="btn btn-light">...</button>
      <button class="btn btn-light">Next</button>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " style="color: red" id="exampleModalLabel">Cảnh Báo !!! </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn có chắc chắn muốn xóa {{name}} hay không ???
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="delete()" data-bs-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
