<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->
<!-- header-start -->
<header>
  <div class="header-area ">
    <div id="sticky-header" class="main-header-area">
      <div class="container-fluid p-0">
        <div class="row align-items-center no-gutters">
          <div class="col-xl-5 col-lg-6">
            <div class="main-menu  d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  <li><a class="active" href="index.html">home</a></li>
                  <li><a href="app/facility/facility.component.html">Facility</a></li>
                  <li><a href="app/customer/customer.component.html">Customer</a></li>
                  <li><a href="app/contract/contract.component.html">Contract</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2">
            <div class="logo-img">
              <a href="index.html">
                <img src="assets/img/logo.png" style=" height: 100px;
                                         width: 128px" alt="">
              </a>
            </div>
          </div>
          <div class="col-xl-5 col-lg-4 d-none d-lg-block">
            <div class="book_room">
              <div class="socail_links">
                <ul>
                  <li>
                    <a href="#">
                      <i class="fa fa-facebook-square"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="book_btn d-none d-lg-block">
                <a class="popup-with-form" href="#test-form">Book</a>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header-end -->


