<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_2">
  <h3>Contract</h3>
</div>
<!-- List-->
<div class="bg-menu table table font-weight-bold" style="padding-top: 120px ; color: black">
  <div class="container-fluid body">
    <div class="center container-fluid">
      <h1 style="text-align: center ">List Contract</h1>
      <div style="text-align: center" >
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#myModalCreateContract">
          Create
        </button>
      </div>
      <table style="border-collapse:  collapse; width: 100%" id="employeeList">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Time Start</th>
          <th class="text-center">Time End</th>
          <th class="text-center">Deposit Amount</th>
          <th class="text-center">Payment Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let contract of contract ; index as i ">
          <td class="text-center">{{i+1}}</td>
          <td class="text-center">{{contract.contractStartDay}}</td>
          <td class="text-center">{{contract.contractEndDay}}</td>
          <td class="text-center">{{contract.contractDeposit}}</td>
          <td class="text-center">{{contract.contractTotalMoney}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button class="btn btn-light">Previous</button>
      <button class="btn btn-light">1</button>
      <button class="btn btn-light">2</button>
      <button class="btn btn-light">...</button>
      <button class="btn btn-light">Next</button>

    </div>
  </div>
</div>
<app-modal-create-contract></app-modal-create-contract>
