<h1>Sửa sản phẩm</h1>
<form [formGroup]="productForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>Mã sản phẩm:</td>
      <td><input type="number" formControlName="id" readonly></td>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr formGroupName="category">
      <td>Hạng mục</td>
      <td>
        <select formControlName="id">
          <option value="" disabled>Chọn hạng mục</option>
          <option *ngFor="let category of categories; index as i" value="{{category.id}}">{{category.name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Cập nhật</button></td>
    </tr>
  </table>
</form>
