<div class="bradcam_area breadcam_bg_1">
  <h3>Facility</h3>
</div>
<div class="bg-menu table text-center table  font-weight-bold" style="padding-top: 100px">
  <div class="container-fluid body">
    <div class="center container-fluid">
      <h1 style="text-align: center ">List Facility</h1>
      <div>
        <a [routerLink]="['/facility/create-facility']" >
          <button    type="button" class="btn btn-outline-primary"
                  data-bs-toggle="modal" data-bs-target="#add">
            Create
          </button>
        </a>
      </div>
      <div class="offers_area " style="padding: 41px">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-md-4" *ngFor="let temp of facilityList" style="padding-bottom: 50px">
              <div class="single_offers">
                <div class="about_thumb">
                  <img
                    [src]="temp.url"
                    alt="">
                </div>
                <h3>{{temp.name}}"</h3>
                <ul>
                  <li>Diện tích phòng: {{temp.name}}m</li>
                </ul>
                <div style="width: 100%">
                  <button style="width: 49%" class="book_now">
                    <a [routerLink]="['../update-facility', temp.id]">Update</a>
                  </button>
                  <button type="button" style="width: 49%" class="book_now" data-bs-toggle="modal"
                          data-bs-target="#exampleModal" (click)="valueDelete(temp.id,temp.name)">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " style="color: red" id="exampleModalLabel">Cảnh Báo !!! </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn có chắc chắn muốn xóa {{name}} hay không ???
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="delete()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
