<div class="bradcam_area breadcam_bg_1">
  <h3>Facility</h3>
</div>
<!-- bradcam_area_end -->

<!-- offers_area_start -->
<div class="bg-menu table text-center table  font-weight-bold" style="padding-top: 100px">
  <div class="container-fluid body">
    <div class="center container-fluid">
      <h1 style="text-align: center ">List Facility</h1>
      <div>
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                data-bs-target="#myModalCreateFacility">
          Create
        </button>
      </div>
      <div class="offers_area " style="padding: 41px" >
        <div class="container" *ngFor="let facility of facility">
          <div class="row">
            <div class="col-xl-4 col-md-4">
              <div class="single_offers">
                <div class="about_thumb">
                  <img
                    [src]="facility.url"
                    alt="">
                </div>
                <h3>{{facility.name}}"</h3>
                <ul>
                  <li>Diện tích phòng: {{facility.useAble}}m</li>
                </ul>
                <div style="width: 100%">
                  <button style="width: 49%" class="book_now" data-bs-toggle="modal"
                          data-bs-target="#myModalUpdateFacility">Update</button>
                  <!-- Button trigger modal -->
                  <button type="button" style="width: 49%" class="book_now" data-bs-toggle="modal"
                          data-bs-target="#exampleModal">
                    Delete
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                       aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Delete Facility</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          You want delete ?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                          </button>
                          <button type="button" class="btn btn-primary">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal-create-facility></app-modal-create-facility>
<app-modal-update-facility></app-modal-update-facility>
